* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
}

nav li {
    display: inline-block;
    margin: 20px;
}

nav ul li {
    display: inline-block;
    margin: 20px;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

#login {
    background: #ff3b3b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    font-weight: bold;
}

.header {
    background: radial-gradient(#ffffff, #d6ffd7);
}

.fileira{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.coluna img {
    padding: 50px 0;
}

.coluna {
    flex-basis: 50%;
}

.coluna h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #ff3b3b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.perfil {
    max-width: 50px; 
    border-radius: 50%;
}

.avaliacoes .coluna-pequena {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 10%);
    background-color: white;
}

.coluna-pequena {
    max-width: 280px;
    margin-bottom: 30px;
    height: 400px;
}

.fas.fa-quote-left {
    font-size: 34px;
    color: #ff3b3b;
}

.container-pequeno {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.avaliacoes {
    padding-top: 50px;
}

.fa-star {
    padding: 25px 0px 25px 0px;
    color: #ff3b3b;
}

.fa-heart {
    color: #d6ffd7;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 13px;
    padding: 60px 0 20px;
}

.fcoluna-1 {
    flex-basis: 30%;
    min-width: 250px;
    text-align: center;
}

.fcoluna-2 img {
    width: 125px;
    margin-bottom: 30px;
    filter: invert(100%);
}

.fcoluna-2 {
    flex: 1;
    text-align: center;
}

.footer p, .footer a {
    color: #8a8a8a;
}

.fcoluna-1, .fcoluna-2, .fcoluna-3, .fcoluna-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px;
}

.fcoluna-3, .fcoluna-4 {
    text-align: center;
}

.copyright {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
}

.quemsomos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 25px 0;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 20px;
    flex-basis: 50%;
}

.quemsomos img {
    padding: 20px;
}

.coluna-sobre {
    flex-basis: 50%;
}

.coluna-sobre h1 {
  font-size: 50px;
  margin: 25px 0;
}

.coluna-sobre p {
    font-size: 15px;
}

#social {
    text-align: center;
    padding: 20px;
}
  
#social a {
    color: white;
    font-size: 2rem;
}
  
#social .fa-facebook-square {
    color: navy;
}
  
#social .fa-twitter-square {
    color: dodgerblue;
}
  
#social .fa-instagram-square {
    color: #ff3b3b
}

hr {
    border: none;
    background-color: #ff3b3b;
    height: 2px;
    width: 140px;
    margin: 20px auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 310px;
    width: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 30px;
}

.flex-container li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1%;
    padding: 40x 20px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 10%);
    background-color: white;
}

.flex-container h2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.flex-container p {
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

.flex-container li:hover {
    box-shadow: 0 10px 20px;
    color:rgb(197, 230, 211)
}

.map-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 940px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 20px;
}

.mapas h1 {
    font-size: 25px;
}

.formulario {
    width: 90%;
    margin: 0 auto;
}

input, textarea, fieldset {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    font: 1em;
    border: 1px solid;
}

.duvidas h1 {
    font-size: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .quemsomos {
        width: 100%;
        margin: auto;
    }
    .flex-container {
        width: 100%;
        margin: auto;
    }
    .mapas {
        width: 100%;
        margin: auto;
    }
    .duvidas {
        width: 100%;
        margin: auto;
    }
    .header, .container {
        width: 90%;
        margin: auto;
    }
}
