* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
}

nav li {
    display: inline-block;
    margin: 20px;
}

nav ul li {
    display: inline-block;
    margin: 20px;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

ul {
    list-style-type: none;
}


.mapas, .duvidas {
    display: flex;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

#login {
    background: #ff3b3b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    font-weight: bold;
}

.header {
    background: radial-gradient(#ffffff, #d6ffd7);
}

.fileira{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.coluna img {
    padding: 50px 0;
}

.coluna {
    flex-basis: 50%;
}

.coluna h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #ff3b3b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.perfil {
    max-width: 50px; 
    border-radius: 50%;
}

.avaliacoes .coluna-pequena {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 10%);
    background-color: white;
}

.coluna-pequena {
    max-width: 280px;
    margin-bottom: 30px;
    height: 400px;
}

.fas.fa-quote-left {
    font-size: 34px;
    color: #ff3b3b;
}

.container-pequeno {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.avaliacoes {
    padding-top: 50px;
}

.fa-star {
    padding: 25px 0px 25px 0px;
    color: #ff3b3b;
}

.fa-heart {
    color: #d6ffd7;
}


.quemsomos {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 30px;
}

.quemsomos p {
    padding: 20px;
}

.hr-pagina {
    border: none;
    background-color: #ff3b3b;
    height: 2px;
    width: 140px;
    margin: 20px auto;
}

.propositos {
    width: 940px;
    margin: 0 auto;
    padding: 60px;
}

.propositos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1%;
    padding: 40x 20px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 10%);
    background-color: white;
}

.propositos h2 {
    font-size: 25px;
    font-weight: bold;
}

.propositos p {
    font-size: 15px;
}

.propositos li:hover {
    box-shadow: 0 10px 20px;
    color:rgb(197, 230, 211)
}

.mapas {
    display: inline-block;
    text-align: center;
    width: 680px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 20px;
}

.mapas h1 {
    font-size: 30px;
}

.duvidas {
    display: inline-block;
    text-align: center;
    width: 650px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 20px;
}

.duvidas h1 {
    font-size: 30px;
}

@media all and (min-width: 1440px) {
    .quemsomos {
        width: 100%;
        margin: auto;
    }
    .propositos {
        width: 100%;
        margin: auto;
    }
    .mapas {
        width: 100%;
        margin: auto;
    }
    .duvidas {
        width: 100%;
        margin: auto;
    }

    .fcoluna-1, .fcoluna-2, .fcoluna-3, .fcoluna-4 {
        width: 100%;   
        flex-basis: 12%;
        min-width: 250px;
    }
    .container {
        width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .quemsomos {
        width: 100%;
        margin: auto;
    }
    .propositos {
        width: 100%;
        margin: auto;
    }
    .mapas {
        width: 100%;
        margin: auto;
    }
    .duvidas {
        width: 100%;
        margin: auto;
    }

    .fcoluna-1, .fcoluna-2, .fcoluna-3, .fcoluna-4 {
        width: 100%;   
    }
    .container {
        width: 90%;
        margin: auto;
    }
}
